<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuedeng.mapper.UserMapper">
    <!--查询用户-->
    <select id="queryUser" parameterType="map" resultType="int">
        select count(1) from tbuser where userName = #{userName} and passWord = #{passWord}
    </select>
    <!--新增用户-->
    <insert id="addUser" parameterType="map" keyProperty="id">
        insert into tbuser(uId,userName,passWord,uName,age,sex) values (#{uId},#{userName},#{passWord},#{uName},#{age},#{sex})
    </insert>
    <!--//根据用户姓名更新用户-->
    <update id="updateUserByName" parameterType="map">
        update tbuser set uId=#{uId},userName=#{userName},passWord=#{passWord},uName=#{uName},age=#{age},sex=#{sex} where userName = #{userName}
    </update>
    <!--//根据用户id更新用户-->
    <update id="updateUserById" parameterType="map">
        update tbuser set uId=#{uId},userName=#{userName},passWord=#{passWord},uName=#{uName},age=#{age},sex=#{sex} where id = #{id}
    </update>
    <!--根据用户名删除用户-->
    <delete id="delUserByUsername" parameterType="map" >
        delete from tbuser where userName=#{userName}
    </delete>
    <!--查询用户列表-->
    <select id="queryUserList" parameterType="map" resultType="User">
        select * from tbuser
        <where>
            <if test="userName!=null and userName!=''">userName like concat('%',#{userName},'%')</if>
            <if test="sex!=null and sex!=''">sex like concat('%',#{sex},'%')</if>
        </where>
    </select>
    <!--//修改用户密码-->
    <update id="updateUserPassword" parameterType="map">
        update tbuser set passWord=#{passWord} where userName = #{userName}
    </update>
</mapper>